:root {
  background-color: #ffffff;
  --color-text: #000000;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

text {
  color: var(--color-text);
}
